<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="bg-zinc-900 m-0 p-0 h-screen w-full text-white p-10">
        <div class="ml-8 mt-8">
            <h1 class="text-3xl font-bold">Add User</h1>
            <div class="mt-5">
            <form action="/api/v1/user/create" method="post" class="flex flex-col gap-3">
                <input type="text" placeholder="enter name" class="h-10 w-1/3 bg-zinc-800 rounded-lg px-3" name="name">
                <input type="text" placeholder="enter email" class="h-10 w-1/3 bg-zinc-800 rounded-lg px-3" name="email">
                <input type="text" placeholder="enter phone" class="h-10 w-1/3 bg-zinc-800 rounded-lg px-3" name="phone">
                <input type="text" placeholder="enter image" class="h-10 w-1/3 bg-zinc-800 rounded-lg px-3" name="image">
                <div class="flex gap-2">
                <button type="submit" class="bg-green-600 px-5 py-2 font-semibold w-25 rounded-md mt-3">Add</button>
                <button class="bg-blue-600 px-5 py-2 font-semibold w-30 rounded-md mt-3"><a href="/api/v1/user/read">All Users</a></button>
                </div>
            </form>
            </div>
        </div>
    </div>
</body>
</html>